body {
    position: relative;
}

header .bg-header.about {
    background: url("../images/about/about-bg-header.svg");
    height: 710px;
    width: 100%;
    background-repeat: no-repeat;
    display: block;
    top: -37.6124267578125px;
    position: relative;
}

header .about-bg-header .trace-pic {
    position: absolute;
    top: 80px;
    right: -100px;
}



/* Who We Are */

.Wh-are h4 {
    font-size: 36px;
    font-weight: bold;
    color: #173547;
}

.Wh-are h2 {
    font-weight: bold;
    font-size: 49px;
    color: #0F395F;
}

.Wh-are p {
    font-size: 29px;
    font-weight: 400;
    color: #0F395F;
}

.Wh-are .people-pic{
    position: absolute;
    top: 590px;
    z-index: 1000;
 
 }
 .Wh-are .people-pic img{
     width: 100%;
     height: 100%;
 }

/* Our Vision */
.our-vision{
    position: relative;
}
.our-vision .pics {
    position: relative;
}
.our-vision .colored-icon{
    width: 300px;
    height: 900px;
    transform: rotate(33deg);
    position: absolute;
    top: 500px;
    left: 50px;
}
.our-vision .colored-icon img{
    width: 100%;
    height: 100%;
}
.our-vision .people-pic-2{
    position: absolute;
    top: 0;
    left: -20px;
}

.our-vision .people-pic-2 img{
    width: 100%;
    height: 100%;
}

.our-vision .pics .people-pic-2 {
    position: absolute;
    z-index: 1000;
    left: -300px;
}

.our-vision .pics .colored-icon {
    position: absolute;
    top: 100px;
    left: -180px;
}
.our-vision h4{
    font-size: 36px;
    font-weight: bold;
    color: #173547;
}
.our-vision h2{
    font-weight: bold;
    font-size: 49px;
    color: #0F395F;
}
.our-vision p{
    font-size: 29px;
    font-weight: 400;
    color: #0F395F;
}

@media (min-width:1400px) and (max-width:1700px) {
    .our-vision .people-pic-2 {
        width: 700px;
        height: 700px;
    }
    
}
@media (min-width:1400px) and (max-width:1600px) {
    .our-vision .pics .colored-icon {
        left: -200px;
    
    }
    
}

/* @media (min-width:1400px) and (max-width:1820px) {
    .Wh-are .people-pic div {

        right: -50px;

    }

    .Wh-are .people-pic div img {
        width: 700px;
        height: 700px;

    }
    .our-vision .pics .people-pic-2 {
        left: -70px;
    }

    .our-vision .pics .people-pic-2 img{
        width: 750px;
        height: 750px;
    }
    .our-vision .pics .colored-trace{
        top: 230px;
    }
    .our-vision .pics .colored-trace {
        left: -70px;
    
    }

} */

@media (min-width:1821px) and (max-width:19150px) {
    .Wh-are .people-pic div {

        right: -160px;

    }

    .Wh-are .people-pic div img {
        width: 750px;
        height: 750px;

    }

}